[submodule "undotree"]
	path = pack/bundle/opt/undotree
	url = https://github.com/mbbill/undotree.git
	shallow = true
[submodule "ctrlp"]
	path = pack/bundle/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	shallow = true
[submodule "surround"]
	path = pack/bundle/start/surround
	url = https://github.com/tpope/vim-surround.git
	shallow = true
[submodule "easy-align"]
	path = pack/bundle/start/easy-align
	url = https://github.com/junegunn/vim-easy-align.git
	shallow = true
[submodule "repeat"]
	path = pack/bundle/start/repeat
	url = https://github.com/tpope/vim-repeat.git
	shallow = true
[submodule "onedark"]
	path = pack/themes/opt/onedark
	url = https://github.com/joshdick/onedark.vim
	shallow = true
[submodule "sneak"]
	path = pack/bundle/start/sneak
	url = https://github.com/justinmk/vim-sneak.git
	shallow = true
[submodule "wwdc16"]
	path = pack/themes/opt/wwdc16
	url = https://github.com/lifepillar/vim-wwdc16-theme.git
	shallow = true
[submodule "cheat40"]
	path = pack/bundle/start/cheat40
	url = https://github.com/lifepillar/vim-cheat40.git
	shallow = false
[submodule "neomake"]
	path = pack/bundle/opt/neomake
	url = https://github.com/neomake/neomake
	shallow = true
[submodule "vimone"]
	path = pack/themes/opt/vimone
	url = https://github.com/rakr/vim-one
	shallow = true
[submodule "vim-node"]
	path = pack/bundle/start/vim-node
	url = https://github.com/moll/vim-node
	shallow = true
[submodule "ultisnips"]
	path = pack/bundle/start/ultisnips
	url = https://github.com/SirVer/ultisnips
	shallow = true
[submodule "incbool"]
	path = pack/bundle/start/incbool
	url = https://github.com/can3p/incbool.vim
	shallow = true
[submodule "vim-peekaboo"]
	path = pack/bundle/start/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo
	shallow = true
[submodule "nerdtree"]
	path = pack/bundle/opt/nerdtree
	url = https://github.com/scrooloose/nerdtree
	shallow = true
[submodule "fzf"]
	path = pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf.vim
	shallow = true
[submodule "commentary"]
	path = pack/bundle/start/commentary
	url = https://github.com/tpope/vim-commentary
	shallow = true
[submodule "vim-gitgutter"]
	path = pack/bundle/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
	shallow = true
[submodule "vim-javascript"]
	path = pack/bundle/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
	shallow = true
[submodule "editorconfig-vim"]
	path = pack/bundle/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
	shallow = true
